@model IEnumerable<Kurs_project.Models.Fuel>

@{
    ViewBag.Title = "ГСМ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Типы гсм</h2>

<p>
    @Html.ActionLink("Новый", "Create")
</p>
@using (Html.BeginForm("Index", "Fuels1", FormMethod.Get))
{



    <fieldset>
        <a class="btn btn-success ">Тип Гсм:</a> @Html.TextBox("TankTypeFind", "")

        <input type="submit" value="Найти" class="btn btn-success " />
    </fieldset>


}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FuelType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Oktan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cena)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FuelType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Oktan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cena)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Data)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.About)
        </td>
        <td>
            @Html.ActionLink("Изменить", "Edit", new { id=item.FuelID }) |
            @Html.ActionLink("Подробнее", "Details", new { id=item.FuelID }) |
            @Html.ActionLink("Удалить", "Delete", new { id=item.FuelID })
        </td>
    </tr>
}

</table>
