@{
    ViewBag.Title = "Sort";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sort</h2>
<table class="table table-bordered table-hover">
    <tr>
        <th><a>Номер операции</a></th>
        <th><a>Приход/расход</a></th>
        <th><a>Дата операции</a></th>
        <th><a>Имя сотрудника</a></th>
        <th><a>Фамилия</a></th>        
        <th><a href="@Url.Action("Index","Sotrudniks")">Вернуться &raquo;</a></th>       
    </tr>
                    @foreach (var o in ViewBag.time)
                    {
                        <tr>

                            <td>
                                @o.OperaciyaID
                            </td>
                            <td>
                                @o.Prih_rash
                            </td>
                            <td>
                                @o.Data_prih_rash
                            </td>
                            <td>
                                @o.Sotrudnik.Name
                            </td>
                            <td>
                                @o.Sotrudnik.Family
                            </td>
                            
                            <td>
                                @Html.ActionLink("Изменить", "Edit", new { id =o.OperaciyaID }) |
                                @Html.ActionLink("Подробнее", "Details", new { id = o.OperaciyaID }) |
                                @Html.ActionLink("Удалить", "Delete", new { id = o.OperaciyaID })
                            </td>
                            
                        </tr>
                    }
</table>